@{
    ViewBag.Title = "Home Page";
}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>

<section id="fh5co-home" data-section="home" style="background-image: url(~/images/full_image_2.jpg);" data-stellar-background-ratio="0.5">
    <div class="gradient"></div>
    <div class="container">
        <div class="text-wrap">
            <div class="text-inner">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="to-animate">悄悄告诉你。。。</h1>
                        <h3 class="to-animate">你真了不起</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h4 class="to-animate">暗恋是一种，美妙的滋味。我把心事悄悄地放在这里，希望有一天，你能看到它</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slant"></div>
</section>


<section id="fh5co-testimonials" data-section="Talk">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">今天想对TA说什么？</h2>
                <div class="row">
                    <div class="col-md-6 col-md-offset-2 to-animate">
                        <div class="form-group ">
                            <input id="message" class="form-control" placeholder="TA的手机或信箱号" type="text">
                        </div>
                    </div>
                    <div class="col-md-2 to-animate">
                        <div class="form-group ">
                            <select class="form-control" id="Mode" name="ModeNow">
                                <option>这一刻的心情</option>
                                <option>云淡风轻</option>
                                <option>心花怒放</option>
                                <option>借酒浇愁</option>
                                <option>痛哭的人</option>
                                <option>百爪挠心</option>
                                <option>百感交集</option>
                                <option>随风而去</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 to-animate">
                        <div class="form-group ">
                            <label for="message" class="sr-only">Message</label>
                            <textarea name="" id="message" cols="30" rows="3" class="form-control" placeholder="真心的悄悄话"></textarea>
                        </div>
                        <div class="form-group ">
                            <input class="btn btn-primary btn-lg" value="记录这一刻" type="submit">
                            <input type="checkbox" name="Notify" value="IsNotify"> 让TA知道<br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="fh5co-services" data-section="About">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">详细说明</h2>
                <div class="row">
                    <div class="col-md-12 section-heading text-center">
                        <img src="~/images/小清新.jpg" alt="Image" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="fh5co-about" data-section="Profile">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">一路走来且珍惜</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="fh5co-about text-center to-animate">
                    <figure><img src="~/images/person1.jpg" alt="Image"></figure>
                    <h3>Jean Smith</h3>
                    <span class="fh5co-position">Web Designer</span>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
                    <ul class="social social-circle">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-offset-8">
                <div class="fh5co-about text-center to-animate">
                    <figure><img src="~/images/person2.jpg" alt="Image"></figure>
                    <h3>Jean Smith</h3>
                    <span class="fh5co-position">Web Designer</span>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
                    <ul class="social social-circle">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="fh5co-about text-center to-animate">
                    <figure><img src="~/images/person1.jpg" alt="Image"></figure>
                    <h3>Jean Smith</h3>
                    <span class="fh5co-position">Web Designer</span>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
                    <ul class="social social-circle">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>

<section id="fh5co-counters" data-section="HowMany" style="background-image: url(images/full_image_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="fh5co-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">感谢有你</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="fh5co-counter to-animate">
                    <i class="fh5co-counter-icon icon-briefcase to-animate-2"></i>
                    <span class="fh5co-counter-number js-counter" data-from="0" data-to="89" data-speed="5000" data-refresh-interval="50">89</span>
                    <span class="fh5co-counter-label">守候人数</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="fh5co-counter to-animate">
                    <i class="fh5co-counter-icon icon-code to-animate-2"></i>
                    <span class="fh5co-counter-number js-counter" data-from="0" data-to="2343409" data-speed="5000" data-refresh-interval="50">2343409</span>
                    <span class="fh5co-counter-label">守候天数</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="fh5co-counter to-animate">
                    <i class="fh5co-counter-icon icon-cup to-animate-2"></i>
                    <span class="fh5co-counter-number js-counter" data-from="0" data-to="1302" data-speed="5000" data-refresh-interval="50">1302</span>
                    <span class="fh5co-counter-label">感受召唤</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="fh5co-counter to-animate">
                    <i class="fh5co-counter-icon icon-people to-animate-2"></i>
                    <span class="fh5co-counter-number js-counter" data-from="0" data-to="52" data-speed="5000" data-refresh-interval="50">52</span>
                    <span class="fh5co-counter-label">Happy Ending</span>
                </div>
            </div>
        </div>

    </div>
</section>

<section id="fh5co-contact" data-section="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">保持联络</h2>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2 to-animate">
                        <div class="form-group ">
                            <input id="message" class="form-control" placeholder="一句话分享下你的想法" type="text">
                        </div>
                        <div class="form-group ">
                            <input class="btn btn-primary btn-lg" value="分享" type="submit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
